
.background {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url(../../images/mobile/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

@media (min-width: 800px ) and (orientation: landscape) {
    .background {
        background-image: url(../../images/desktop/background.png);
        overflow: hidden;
    }
    .background::after {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        background-size: contain;
        background-image: url(../../images/desktop/desk_snieg.png);
        animation: bubbles 3s linear infinite;
    }
    .background::before {
        content: '';
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../../images/desktop/logo_desktop.png);
        width: 28vh;
        height: 52vh;
        top: 0vh;
        left: 2vw;
        z-index: 6;
    }
    .main-container__leaves1 {
        position: absolute;
        background-image: url(../../images//desktop/desk_jemiola.png);
        width: 35vh;
        height: 35vh;
        background-size: contain;
        top: -5vh;
        left: 0vh;
        background-repeat: no-repeat;
        z-index: 3;
    }
    .main-container__leaves2 {
        position: absolute;
        background-image: url(../../images//desktop/desk_listki_duze.png);
        width: 60vh;
        height: 40vh;
        background-size: contain;
        top: -5vh;
        right: 15vh;
        background-repeat: no-repeat;
        z-index: 3;
    }
    .main-container__leaves3 {
        position: absolute;
        background-image: url(../../images//desktop/desk_listki_duze2.png);
        width: 21vh;
        height: 40vh;
        background-size: contain;
        bottom: 0;
        right: 8vh;
        background-repeat: no-repeat;
        z-index: 3;

    }
    .main-container__leaves4 {
        position: absolute;
        background-image: url(../../images//desktop/desk_listki_duze2.png);
        transform: scaleX(-1);
        width: 21vh;
        height: 40vh;
        background-size: contain;
        bottom: -2vh;
        left: 7vh;
        background-repeat: no-repeat;
        z-index: 3;
    }
    .main-container__leaves5 {
        position: absolute;
        background-image: url(../../images//desktop/desk_listki1.png);
        width: 20vh;
        height: 23vh;
        background-size: contain;
        top: 6vh;
        right: 1vh;
        background-repeat: no-repeat;
        z-index: 3;
    }
    .tree {
        content: '';
        position: absolute;
        height: 65vh;
        width: 30vh;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 0;
    }
    .tree1 {
        background-image: url(../../images/desktop/sosna_A.png);
        left: 10vh;
    }
    .tree2 {
        background-image: url(../../images/desktop/sosna_B.png);
        right: 10vh;
    }
}

@keyframes bubbles {
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.01);
        opacity: .7;
    }
}