.gift-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.gift-container__image {
  margin: 5vh;
  width: 100%;
  height: 100%;
}

.gift-container__info {
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-decoration: underline;
}

.gift-display {
  height: 75vw;
width: 75vw;
  
  margin: 5vh;
}
.gift-download {
  cursor: pointer;
  min-height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
.gift-container__display {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gift-download a {
  width: 100%;
}
.gift-container > iframe {
  min-width: 80vw;
}

.gift-rysowanie {
  background-image: url(../../dataBase/files/pobranie_rysowanie_krok_pic.jpg);
}
.gift-emi {
  background-image: url(../../dataBase/files/Emi_kalendarz.PNG);
}
.gift-smocza {
  background-image: url(../../dataBase/files/smocza_straz_pic.jpg);
}
.gift-mikolajki {
  background-image: url(../../images/mobile/fun_mikolajki_kwadrat.jpg);
}
.gift-emi-download {
  background-image: url(../../dataBase/files/Emi_do_pobrania.jpg);
}
.gift-anchor-content {
  color: transparent;
  visibility: hidden;
}
.gift-renifer {
  background-image: url(../../images/mobile/fun_RENIFERi_kwadrat.jpg)
}
.gift-piernik {
  background-image: url(../../images/mobile/fun_piernik_kwadrat.jpg)
}
.gift-wesoleswieta {
  background-image: url(../../dataBase/files/pobranie_wesole_swieta_pic.jpg);
}
.gift-wesole-elfy {
  background-image: url(../../dataBase/files/pobranie_wesole_elfy_pic.jpg);
}

.image__sale {
  border: 3px solid white;
  box-shadow: 0 0 15px 9px #adff2f;
}

@media (min-width: 800px) and (orientation: landscape) {
  .gift-container__image {
    margin: 2vh;
    width: 60%;
    height: 60%;
  }
  .gift-display {
    height: 55vh;
    width: auto;
    margin: 2vh;
  }
  .gift-download {
    min-height: 30vw;
  }
  .gift-container > iframe {
    min-width: 35vw;
    min-height: 25vw;
  }
  .gift-mikolajki {
    background-image: url(../../images/desktop/fun_kalendarz_swiateczny_mikolajki.jpg);
  }
  .gift-renifer {
    background-image: url(../../images/desktop/fun_kalendarz_swiateczny_RENIFERi.jpg);
  }
  .gift-piernik {
    background-image: url(../../images/desktop/fun_kalendarz_swiateczny_piernik.jpg)
  }
}
